<div class="text-center loginscreen  animated fadeInDown">
  <div>
<div class="container">
  <div class="row">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Thank You For Registering!!!</h1>
        <p class="lead">We look Forward to Seeing you in Global Hackathon Day Which will be hosted starting from october 19th to 21th of october.</p>
           <h2 class="text-center">God Bless You!!</h2>
      </div>
    </div>
  </div>
</div>

  </div>
</div>
